.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.env
.env.*

data/raw/
data/yolo_detections.csv

logs/

medical_warehouse/target/
medical_warehouse/dbt_packages/
.user.yml

.tmp_dagster_home*/
dagster.yaml

yolov8n.pt

.DS_Store
Thumbs.db
